@charset "utf-8";

.post-area .movie-clip{position:relative; width:100%; height:0; padding-bottom:56.25%;margin-bottom:3rem;border-radius:0.5rem;overflow:hidden}
.post-area .movie-clip iframe{position:absolute; width:100%; height:100%;}

.post-area h3{font-size:1.125rem;line-height:1.333;margin-bottom:1.5rem}
.post-area p{margin-bottom:1.5rem}
.post-area img{max-width:100%;border-radius:0.5rem}

.post-area ul{margin-bottom:1rem;padding-left:0}
.post-area ul li:before{content:"·";font-weight:bold;margin-right:0.3rem}
.post-area ul li ul{margin-left:1rem}
.post-area ol{margin-bottom:1rem;list-style-type:decimal;padding-left:1rem}
.post-area ol li ul{margin-left:1.5rem}
.post-area a{color:var(--key-color);text-decoration:underline}


